In [11]:
#Import libraries
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [12]:
#Set a query to source the tweet - the tweet 'hashtag' and time period,
query = "(#SafariRallyKenya OR #WRCSafariRally) until:2022-07-28 since:2022-5-01"
tweets = []
limit = 40000

In [ ]:
# Next we define a function to source the data
for tweet in sntwitter.TwitterHashtagScraper(query).get_items():
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.url, tweet.user.username, tweet.sourceLabel, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount,  tweet.quoteCount, tweet.replyCount])
            
df = pd.DataFrame(tweets, columns=['Date', 'TweetURL','User', 'Source', 'Location', 'Tweet', 'Likes_Count','Retweet_Count', 'Quote_Count', 'Reply_Count'])

df.to_xlx('SafariRally-Tweets.xlx')

In [14]:
# Now let's view our data frame
df.head()

,Date,TweetURL,User,Source,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2022-07-27 04:59:14+00:00,https://twitter.com/SaintelocRacing/status/155...,SaintelocRacing,Twitter Web App,"Saint-Etienne, France",Watch the final episode of Road to WRC at @wrc...,2,1,0,0
1,2022-07-26 09:53:02+00:00,https://twitter.com/SamurahanTutor/status/1551...,SamurahanTutor,Twitter Web App,USA texas,#safarirallykenya \n#WRCfinland\nüèÜüèÜüèÜüèÜüèÜüèÜüèÜ\nBest...,0,0,0,0
2,2022-07-26 06:57:19+00:00,https://twitter.com/LynnNgugiShow/status/15518...,LynnNgugiShow,Twitter Web App,,#safarirallykenya #WRC,0,0,0,0
3,2022-07-25 20:53:31+00:00,https://twitter.com/SamurahanTutor/status/1551...,SamurahanTutor,Twitter Web App,USA texas,#RallyFinland \n#safarirallykenya \nSebastian ...,0,0,0,0
4,2022-07-24 10:28:24+00:00,https://twitter.com/MSpoti254/status/155115231...,MSpoti254,Twitter for Android,"Nairobi, Kenya",#M_spoti #Mspoti Light moment #safarirallykeny...,1,0,0,0

In [21]:
# We can now proceed to check the summary statistics of the continous variables
df.describe()

       Likes_Count  Retweet_Count  Quote_Count  Reply_Count
count  9362.000000    9362.000000  9362.000000  9362.000000
mean     36.385281       6.493912     0.435057     0.790750
std     169.004156      32.787058     3.489343     3.591065
min       0.000000       0.000000     0.000000     0.000000
25%       0.000000       0.000000     0.000000     0.000000
50%       2.000000       0.000000     0.000000     0.000000
75%       9.000000       2.000000     0.000000     1.000000
max    4976.000000    1077.000000   140.000000   136.000000

In [22]:
print("number of rows : ", df.shape[0],  "number of columns : " ,df.shape[1])

number of rows :  9362 number of columns :  10

In [23]:
df.dtypes

Date             datetime64[ns, UTC]
TweetURL                      object
User                          object
Source                        object
Location                      object
Tweet                         object
Likes_Count                    int64
Retweet_Count                  int64
Quote_Count                    int64
Reply_Count                    int64
dtype: object